// https://coolors.co/34353a-494b50-777777-bbbbbb-77785f-b9ba93-ffffff

$clrJet: #34353a;
$clrDavysGray: #494b50;
$clrSonicSilver: #777;
$clrGray: #bbb;
$clrWhite: #fff;
$clrSage: #B9BA93;
$clrGoldFusion: #77785F;

$breakpoint-tablet: 1020px;

$topbar-height: 3.5rem;

$z-index-menu: 12;

$font-Mulish: 'Mulish', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

.clr-muted {
  color: $clrSonicSilver;
}
